<footer>
    <div class="footer-sections">
        <div class="footer-list" style="width: 85%">
            <h4 id="contact" class="footer-header" style="margin-bottom: 5px">Contact</h4>

            {{ range .Site.Data.footer.Contact }}
            <a data-value="{{ .name }}" class="scramble" href="{{ .url }}">{{ .name }}</a>
            {{ end }}
        </div>
        <div class="footer-list" style="width: 85%"></div>
        <div class="footer-list" style="width: 85%">
            <h4 class="footer-header" style="margin-bottom: 5px">Services</h4>

            {{ range .Site.Data.footer.Services }}
            <a data-value="{{ .name }}" class="scramble" href="{{ .url }}">{{ .name }}</a>
            {{ end }}
        </div>
    </div>
    <p style="margin: 0px;">
    <small>
        Copyleft <span style="display: inline-block; transform: rotate(180deg);">&copy;</span>  {{ now.Year }}. 
        <a style="font-size: 0.8em;" href="https://git.clortox.com/Infrastructure/Site-static">Free open source software.</a>
    </small>
    </p>
</footer>
