<head>
    <link rel="stylesheet" href="{{ "css/styles.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/header.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/footer.css" | relURL }}">

    <link rel="stylesheet" href="{{ "css/background.css" | relURL }}">
    <script src="{{ "js/script.js" | relURL }}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script async src="https://ackee.clortox.com/tracker.js" data-ackee-server="https://ackee.clortox.com" data-ackee-domain-id="8e41f517-df44-41cb-970d-208872712ed6"></script>
    {{ range .AlternativeOutputFormats -}}
        {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
    {{ end -}}
    {{ if .Param "math" }}
        {{ partialCached "math.html" . }}
    {{ end }}

    <

    <meta name="description" content="Software Engineer, aspiring polymath"/>

    <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}Tylers Perkins - Software Engineer{{ end }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ .Permalink }}" />
    <meta property="og:image" content="https://opengraph.b-cdn.net/production/images/d8998659-0129-4808-b73c-67797d3fe7ac.jpg?token=X4ji3MDnTCq9oofsKJXYRPV4nIaynTNQmWu0UpE8vaE&height=460&width=460&expires=33281091161">
    <meta property="og:description" content="Software Engineer, aspiring polymath" />
    <meta property="og:site_name" content="Tylers Perkins" />
    <meta property="og:locale" content="en_US" />

    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:title" content="{{ if .Title }}{{ .Title }}{{ else }}Tylers Perkins - Software Engineer{{ end }}" />
    <meta property="twitter:description" content="Software Engineer, aspiring polymath" />
    <meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/d8998659-0129-4808-b73c-67797d3fe7ac.jpg?token=X4ji3MDnTCq9oofsKJXYRPV4nIaynTNQmWu0UpE8vaE&height=460&width=460&expires=33281091161">
    <meta property="twitter:image:alt" content="Tylers Perkins Profile Picture">
    <meta property="twitter:url" content="{{ .Permalink }}" />

    <title>Tylers Perkins - Software Engineer</title>
</head>