.background {
    background-image: url("/img/webb-dark.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    z-index: -1;

    background-position: center;
    background-repeat: repeat;
}


