{{ define "main" }}
    <div class="centered top-fade" style="height:100vh">
        <div class="intro-content">
            <h1 data-value="kernel panic!" data-show="error-message" class="typewriter"></h1>
            <div id="error-message">
                <p data-value="Error on our side, my bad"></p>
            </div>
            <div class="link-block">
                <a href="javascript:history.back()">&lt;--&nbsp;Go back</a>
                <p>&nbsp;|&nbsp;</p>
                <a href="{{ .Site.BaseURL }}">Home&nbsp;--&gt;</a>
            </div>
        </div>
    </div>

{{ end }}
