.navbar {
    margin: 0;
    background: rgb(11,11,12);
    height: 3em;
    border-color: white;
    border-bottom: 5px;
    overflow: hidden;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
